<h5><%= @player_1.name %> painted <%= @player_2.name %></h5>
<h5><%= @player_1.name %>: <%= @player_1.paint_points %> Paint Points</h5>
<h5><%= @player_2.name %>: <%= @player_2.paint_points %> Paint Points</h5>
