<h5><%= @session.player_1.name %> painted <%= @session.player_2.name %></h5>
<h5><%= @session.player_1.name %>: <%= @session.player_1.paint_points %> Paint Points</h5>
<h5><%= @session.player_2.name %>: <%= @session.player_2.paint_points %> Paint Points</h5>
